html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.no-number {
  list-style: none;
  font-weight: normal;
  list-style-type: lower-greek;
}

nav {
  font-weight: bolder;
}

.wiki:hover {
  color: #3f1622;
}

.wiki {
  color: #8f2440;
  text-decoration: underline;
  font-size: .8rem;
  line-height: normal;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

figure {
  display: inline-block;
  text-align: center;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  font-weight: normal;
  font-size: .8rem;
}

p {
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 1rem;
}

.bold {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

dd {
  font-size: .8rem;
  font-weight: normal;
}

ul {
  font-size: .8rem;
  list-style-type: circle;
}

.varieties {
  font-family: "PT Serif", serif;
}

.quote {
  font-weight: normal;
  font-size: 1.125rem;
  font-style: normal;
}

.last-class {
  font-weight: normal;
}
